<section class="hero">
    <div class="hero-bg-wrapper">
        <img src="./assets/Solar.jpg" alt="Solar 1" class="hero-img active">
        <img src="../assets/streetlight.jpg" alt="Solar 2" class="hero-img">
        <img src="../assets/solarGarden.jpg" alt="Solar 3" class="hero-img">
        
        <div class="overlay"></div>
    </div>

    <div class="hero-content">
        <div class="hero-label">
            <span class="reveal-text"><i class="ri-sun-fill"></i> POWERING THE FUTURE</span>
        </div>
        
        <h1 class="hero-title">
            <div class="line"><span class="reveal-text">SOLAR</span></div>
            <div class="line"><span class="reveal-text highlight">REVOLUTION.</span></div>
        </h1>
        
        <div class="sub-wrapper" style="overflow: hidden;">
            <p class="hero-sub reveal-text">Innovative energy solutions for a sustainable tomorrow.</p>
        </div>

        <div class="scroll-indicator reveal-opacity">
            <span>SCROLL</span>
            <div class="line-down"></div>
        </div>
    </div>
</section>