<nav>
    <div class="logo">
        <span class="logo-icon"><img src="./assets/logoo.png" alt="Solarica Logo"></span> 
    </div>
    <div class="nav-links">
        <a href="#" class="magnetic">Home</a>
        <a href="#products" class="magnetic">Products</a>
        <a href="#finance" class="magnetic">Finance</a>
        <a href="#projects" class="magnetic">Projects</a>
        <a href="#about" class="magnetic">About Us</a>
        <a href="#careers" class="magnetic">Careers</a>
    </div>
    <div class="nav-btn magnetic">
        <a href="#contact">Get Quote <i class="ri-arrow-right-up-line"></i></a>
    </div>
</nav>