<nav>
    <div class="logo">
        <a href="/index.html"><img src="./assets/logoo.png" alt="Solarica Logo"></a>
    </div>

    <div class="menu-toggle-btn magnetic">
        <span class="menu-text">MENU</span>
        <div class="hamburger-icon">
            <span class="bar bar-1"></span>
            <span class="bar bar-2"></span>
        </div>
    </div>

    <div class="menu-overlay">
        <div class="menu-content">
            <ul class="main-menu-list">
                
                <li class="menu-item has-submenu">
                    <div class="menu-link-wrapper">
                        <span class="menu-link title">About</span>
                        <i class="ri-arrow-down-s-line arrow-icon"></i>
                    </div>
                    <ul class="submenu-list">
                        <li><a href="/we-solarica.html" class="sub-link">We Solarica</a></li>
                        <li><a href="/our-journey.html" class="sub-link">Our Journey</a></li> <li><a href="#about" class="sub-link">Our Company</a></li>
                        <li><a href="#leaders" class="sub-link">Board of Directors</a></li>
                        <li><a href="#about" class="sub-link">Awards & Certification</a></li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#products" class="menu-link title">Products</a>
                </li>

                <li class="menu-item">
                    <a href="#footer-root" class="menu-link title">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>